body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    border: 17px solid #bdc3c7;
    height: 100vh;
    width: 760px;
    padding: 25px;
}

.date {
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 3px;
    color: #3498db;
}

.header {
    font-size: 35px;
	color: #2A3E4E;
    font-weight: bold;
}

.text-content{
    font-size: 17px;
}
.left-border{
    border-left: 5px solid #bdc3c7;
padding-left: 5px;
}